---
http_interactions:
- request:
    method: post
    uri: https://api.notablepdf.com/embed/exports
    body:
      encoding: UTF-8
      string: '{"document_identifier":"797003eeefa82bd465e9b806a592b005","export_type":"annotation"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ABC-vRXxiGb7Nty9mXYZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5124e580b7e04a170f411c106bec3123"
    body:
      encoding: UTF-8
      string: '{"id":"821f94ba-4dc5-4423-8589-348588601c2a","status":"pending","file_url":null,"error_type":null,"user_message":null,"export_id":"821f94ba-4dc5-4423-8589-348588601c2a","destination_document_identifier":null,"error_data":null,"google_user_id":null,"google_file_upload_id":null,"output_documents":null}'
  recorded_at: Thu, 04 Aug 2016 22:04:23 GMT
- request:
    method: get
    uri: https://api.notablepdf.com/embed/exports/821f94ba-4dc5-4423-8589-348588601c2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ABC-vRXxiGb7Nty9mXYZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbb3ba0049894a7e20493d87526e95f6"
    body:
      encoding: UTF-8
      string: '{"id":"821f94ba-4dc5-4423-8589-348588601c2a","status":"done","file_url":"https://notabletemporarydownloads.s3.amazonaws.com/Kami%20Export%20-%20_T7I7JqrLfroMIMt5_ox0A.pdf","error_type":null,"user_message":null,"export_id":"821f94ba-4dc5-4423-8589-348588601c2a","destination_document_identifier":null,"error_data":null,"google_user_id":null,"google_file_upload_id":null,"output_documents":null}'
  recorded_at: Thu, 04 Aug 2016 22:04:25 GMT
recorded_with: VCR 2.9.3
