---
http_interactions:
- request:
    method: get
    uri: https://api.notablepdf.com/embed/exports/6cb4de71-c3d5-40c2-8b88-4774ea92db9a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ABC-vRXxiGb7Nty9mXYZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e821e7da3183ba91830531574bd9b757"
    body:
      encoding: UTF-8
      string: '{"id":"6cb4de71-c3d5-40c2-8b88-4774ea92db9a","status":"pending","file_url":null,"error_type":null,"user_message":null,"export_id":"6cb4de71-c3d5-40c2-8b88-4774ea92db9a","destination_document_identifier":null,"error_data":null,"google_user_id":null,"google_file_upload_id":null}'
  recorded_at: Thu, 28 Apr 2016 17:05:09 GMT
recorded_with: VCR 2.9.3
