---
http_interactions:
- request:
    method: get
    uri: https://api.notablepdf.com/embed/documents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ABC-vRXxiGb7Nty9mXYZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2dcaef5c939f15f620fdde51384fc0b8"
    body:
      encoding: UTF-8
      string: '{"documents":[{"name":"example.pdf","document_identifier":"797003eeefa82bd465e9b806a592b005","file_status":"done","file_error_message":null,"created_at":"2016-04-27T22:32:32.098Z"}]}'
  recorded_at: Thu, 28 Apr 2016 02:46:15 GMT
recorded_with: VCR 2.9.3
