---
http_interactions:
- request:
    method: get
    uri: https://api.notablepdf.com/embed/documents/797003eeefa82bd465e9b806a592b005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ABC-vRXxiGb7Nty9mXYZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"22b537104a1ccff34f3e8041067c8eca"
    body:
      encoding: UTF-8
      string: '{"name":"example.pdf","document_identifier":"797003eeefa82bd465e9b806a592b005","file_status":"done","file_error_message":null,"created_at":"2016-04-27T22:32:32.098Z"}'
  recorded_at: Thu, 28 Apr 2016 03:18:03 GMT
recorded_with: VCR 2.9.3
