---
http_interactions:
- request:
    method: post
    uri: https://api.notablepdf.com/embed/documents
    body:
      encoding: UTF-8
      string: '{"name":"example.pdf","document_url":"https://dl.dropboxusercontent.com/u/11644126/example.pdf"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ABC-vRXxiGb7Nty9mXYZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c44787552cf18b01bc9465b07e48c53"
    body:
      encoding: UTF-8
      string: '{"name":"example.pdf","document_identifier":"797003eeefa82bd465e9b806a592b005","file_status":"processing","file_error_message":null,"created_at":"2016-04-27T22:32:32.098Z"}'
  recorded_at: Wed, 27 Apr 2016 22:32:31 GMT
recorded_with: VCR 2.9.3
